.figura {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: block;
  color: #00D8D8;
  font-size: 4rem;
  position: relative;
  top: 2rem;
  letter-spacing: 0.01em;
}

.imagem-container {
  margin: 0;
  display: flex;
  justify-content: center;
}

.imagem {
  display: block;
  max-width: 70%;
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 0;
}

.formulario {
  position: absolute;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  bottom: 6rem;
}

.formulario input {
  width: 70%;
  border: 2px solid red;
  height: auto;
  border-radius: 10px;
  text-align: center;
  background-color: black;
  font-size: 1.8rem;
  color: white;
}

.botao-login {
  position: relative;
  margin: 0;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  top: 0.6rem;
}

.play {
  margin: 0;
  width: 10rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: 0.1rem solid red;
  margin: 0;
  padding: 10px;
}

.footer h3 {
  margin: 0;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;

}

.sucesso {
  color: red;
  text-align: center;
  font-size: 3rem;
  margin-top: 40px;
}

.erro {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 15px;
  border-bottom: 1px solid yellowgreen;
}

@media (max-width: 767px) {
  .logo {
    font-size: 2.6rem;
    top: 4rem;
  }

  .imagem {
    max-width: 90%;
    margin-top: 6rem;
  }

  .formulario {
    width: 15rem;
    margin-top: 3rem;
  }

  .formulario input {
    font-size: 1.3rem;
    padding: 0.2rem;
  }

  .play {
    width: 6rem;
  }

  .footer h3 {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .logo {
    font-size: 3.4rem;
  }

  .imagem {
    width: 50%;
  }

  .formulario {
    bottom: 5rem;
  }

  .formulario input {
    font-size: 1.5rem;
    padding: 0.4rem;
    width: 15rem;
  }

  .play {
    width: 9rem;
  }

  .footer h3 {
    font-size: 1rem;
    margin-bottom: 0;
  }

}