.detalhamento-comanda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-cliente {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.input-cliente input {
  background-color: black;
  position: relative;
  top: 15px;
}

.nome-cliente,
.mesa-cliente {
  margin: 10px;
  margin-bottom: 50px;
  height: 3rem;
  width: 30%;
  color: white;
  border-color: transparent;
  border-bottom: 2px solid rgba(54, 11, 76, 1.5);
  text-align: center;
  font-size:1.5rem;
  letter-spacing: 0.04em;

}
.resumo-comanda{
  margin: 0;
  color: white;
  font-size: 1.8rem;
  padding: 5px;
  letter-spacing: 0.07em;
}
.nome-cliente::placeholder,
.mesa-cliente::placeholder {
  color: white;
  font-size:1.6rem;
  letter-spacing: 0.07em;
}
.lista-comanda{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-radius: 10px;
  text-align: center;
  border: 2px solid rgba(54, 11, 76, 1.5);
}
.comanda-item{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    align-items: center;
    border: 1px solid #00D8D8;
    margin-bottom: 8px;
    padding:5px;
    border-radius: 5px;
    letter-spacing: 0.06em;
  }
  .comanda-item p {
    font-size: 1.6rem;
  }
  .item-name{
    margin-bottom: 10px;
  }
   .sessao-botoes {
    display: flex;
    gap: 15px;
  }
.aumentar img,
.diminuir img,
.excluir img {
  width: 25px;
  height: 25px;
}

.subtotal {
  color: white;
  display: none;
  font-size:1.7rem;
  letter-spacing: 0.07em;
  
}

  .subtotal.mostrar {
    display: block;
  }
  .enviar{
    position: relative;
    width: 150px;
  }
 
  @media (max-width: 600px) {
.nome-cliente, .mesa-cliente{
  font-size: 1rem;
}
.nome-cliente::placeholder,
.mesa-cliente::placeholder {
  color: white;
  font-size: 1.2rem;
}
.lista-comanda{
  width: 70%;
}
.lista-comanda p{
   font-size: 1.2rem;
   padding: 0;
}
.enviar{
  width: 95px;
}
.item-name, .item-price{
  font-size: 1rem;
}
.comanda-item{
  padding: 10px;
}
.aumentar img, .diminuir img, .excluir img {
    width: 15px;
    height: 15px;
}
.subtotal{
  font-size: 1rem;
}
  }


/* cliente e mesa: fonte de fundo ta no nome-cliente. O de cima no plachehorlder */
/* Apresentar pedidos em ordem, do antigo para mais recente */
/* o chefe deve atualizar o status e enviar uma notifição de pronto para o atendente */
/* apresentar tempo total do envio ate a finalização */
