@font-face {
  font-family: 'THUNDERBOLT73-Regular';
  src: url('./fonte/THUNDERBOLT73-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'THUNDERBOLT73-Bold';
  src: url('./fonte/THUNDERBOLT73-Bold.otf') format('opentype');
}

body {
  font-family: 'THUNDERBOLT73-Regular', sans-serif;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.root {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input::placeholder {
  font-family: 'THUNDERBOLT73-Regular', sans-serif;
  color: white;
}
/* input{
  font-family: 'THUNDERBOLT73-Regular', sans-serif;
 } */
ul {
  color: white;
  padding: 0;
  list-style-type: none;
}

li {

  text-decoration: none;
}
span{
  font-family: 'THUNDERBOLT73-Regular', sans-serif;
}
button {
  font-family: 'THUNDERBOLT73-Bold', sans-serif;
  background-color: transparent;
  border: none;
}
