body {
  margin: 0;
  box-sizing: border-box;
  font-family: Fredoka One;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
 }

 .root {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input::placeholder{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  }
  ul {
    padding: 0;
    list-style-type: none; /* Remover a pontinha no início */
  }
  
  li {
    text-decoration: none; /* Remover decoração de texto */
  }
  